h1 {
	text-align: center;
	font-family: 'Lobster', cursive;
}

h4 {
	text-align:center;
	font-family: Comic Sans MS;
}

#navigationtable {
	width: 300px;
}

#navigationlink {
	font-family: Comic Sans MS;
}