h1 {
	text-align: center;
	font-family: 'Lobster', cursive;
}

h4 {
	text-align:center;
	font-family: Comic Sans MS;
}

a:visited {
	color: red;
}

a:hover {
	text-weight: bold;
}

a:active {
	text-decoration: none;
}

#navigationtable {
	width: 300px;
}

#navigationlink {
	font-family: Comic Sans MS;
}