.center {
	text-align: center;
}

button {
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.playButtonDiv {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

table {
	margin-left:auto;
	margin-right:auto;
	background-color:lightgray;
}

th {
	background-color:gray;
}

caption {
	font-weight:bold;
	text-decoration:underline;
	font-size:larger;
}

.jsWarning {
	text-align:center;
	font-weight:bold;
	color:red;
}

p, td, th {
	font-family:Comic Sans MS;
}